$text1: #ffffff !default;
$text2: #00ce22 !default;

$bgc1 : #20202093 !default;
$bgc2 : #6e6e6e !default;
$bgc3: #8f0089 !default;
$bgc4: rgb(0, 167, 189) !default;

$bgc2alpha : #6e6e6e53 !default;
$bgcAlphaPlus : #3030309a !default;
$bgcBlackAlpha: #0000003a !default;

$border1 : #444 !default;
$border2 : solid 1px #000000 !default;

$box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !default;

$font3: 'Oswald', sans-serif !default;
$font4 : 'Rajdhani', sans-serif !default;
