@import "variables";

body {
	margin: 0 auto;
  background: url("src/assets/images/ep_naturalblack.png");
  color: $text1;
  font-family: $font1;
	.App {
    position:relative;
		//height: 100vh;
		display: flex;
		flex-direction: column;
		
	}
}