@import "variables";

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
	margin: 0 auto;
  background: url("src/assets/images/ep_naturalblack.png") fixed;
  color: $text1;
  font-family: $font3;
	.App {
    position:relative;
		height: 100vh;
		display: flex;
		flex-direction: column;

    .Separator {
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      color: $bgc4;
    }
    .button {
      display: flex;
      gap: 5px;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      padding: 0 10px;
      line-height: 30px;
      text-align: center;
      background-color: $bgc3;
      border-radius: 50px;
      font-size: 1.2rem;
      font-family: $font3;
      &:hover {
        cursor: pointer;
      }
    }
    
    .buttonContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      gap: 20px;
    }

    .learnMore {
      width: 100px;
      margin-bottom: 50px;
    }
		
	}
}