@import "variables";

.button {
  //width: 100px;
  line-height: 30px;
  padding: 0 10px;
  background-color: $bgc3;
  border-radius: 50px;
  font-size: 1rem;
  font-family: $font3;
  &:hover {
    cursor: pointer;
  }
}