@import "variables";

.home {
  width: 80%;
  min-width: 350px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  //flex-grow: 1;
  //width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  //box-shadow: $box-shadow;

  
}