@import "variables";

nav {
  display: flex;
  justify-content: center;
  .navButton {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: $bgc4;
    border-radius: 50px;
    .icon {
      color: $text1;
    }
    &:hover {
      cursor: pointer;
    }
  }
  
}