@use "variables" as *;
@use "mixins" as *;
@use "animations" as *;

.room {
  width: 100%;
  padding: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  // overflow: hidden;
  background-color:$bgcBlackAlpha;
  backdrop-filter: blur(1px);
  transition: all 0.8s ease;
  border-top: 1px solid $bgc4;
  border-bottom: 1px solid $bgc4;
  
  header {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    h5 {
      padding: 0 10px;
      margin: -30px 0 10px 0;
      font-size: 1.1rem;
      text-align: center;
      color: $bgc4;

    }
    h3 {
      font-size: 2rem;
      text-align: center;
      margin: 0 auto;
    }
  }

  b {
    color: $text2;
  }

  a {
    text-decoration: none;
    color: $bgc4;
  }

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  p {
    width: 80%;
    font-size: 1.4rem;
  }
  .roomImage {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-top: 20px;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .hashtag {
    margin-top: 5px;
    padding: 1px 10px;
    border-radius: 50px;
    font-size: 1rem;
    background-color: $bgc2alpha;
    &:hover {
      cursor: default;
      .hashtagIcon {
        color: $text2;
      }
    }
    .hashtagIcon {
      transition: all 0.3s;
    }
  }
  .technos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  section {
    margin: 20px 10px;
    width:37%;
    min-width: 300px;
    padding: 0 7px;
    background-color: $bgc1;
    border-radius: 10px;
    transition: all 0.3s;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    h4 {
      width: 100%;
      margin: 5px auto;
      font-size: 1.4rem;
      text-align: center;
      font-weight: unset;
    }
    .list {
      width: 100%;
      padding: 5px;
      
      border-radius: 5px;     
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      span {
        display: flex;
        gap: 10px;
      }
      li {
        list-style: none;
      }
      .alignedItems {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        background-color: $bgcAlphaPlus;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        b {
          color: $text2;
        }
        p {
          margin: 0;
          font-size: 18px;
          width: 100%;
          text-align: center;
        }
        .button {
          width: max-content;
          color: $text1;
          display: inline-block;
          text-decoration: none;
        }
      }
    }
    .techno {
      width: 25%;
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $text2;
      font-size: 1rem;
      transition: all 0.5s;
      &:hover {
        cursor: default;
        transform: scale(1.1);
        .icon {
          color: $bgc4;
        }
      }
      
      .icon {
        font-size: 2rem;
        color: $text1;
        transition: all 0.5s;
      }
    }  
  }
  .sectionContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    overflow: auto;
    gap: 20px;
    .hobby {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h4 {
        font-size: 25px;
      }
      section {
        width: 80%;
        animation: fade 0.3s ease-in;
        margin: 0;
        padding: 0;
        li {
          font-size: 20px;
        }
      }
      .buttonContainer {
        padding: 5px;
      }
      .planet {
        position: relative;
        width: 100px;
        height: 100px;
        cursor: pointer;
        margin-bottom: 20px;
        img {
          width: 100%;
        }
        &:hover {
          .clicker {
            transform: scale(1.1);
          }
        }
        .spinner {
          position: absolute;
          top: -10px;
          left: -10px;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          border: 1px solid;
          display: inline-block;
          animation: rotation 10s linear infinite;
          &::after {
            content: '';  
            box-sizing: border-box;
            position: absolute;
            left: 12px;
            top: 12px;
            background: $text1;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            animation: fade 0.3s ease-in;
          }
          
        }
        .clicker {
          position: absolute;
          top: 30px;
          left: 40px;
          font-size: 50px;
          transition: all 0.3s;
        }
        .close {
          position: absolute;
          top: 18px;
          left: 24px;
          font-size: 50px;
          transition: all 0.3s;
        }
      }
    }
    .work {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      h4 {
        font-size: 30px;
      }
      p {
        font-size: 20px;
        text-align: center;
        color: $bgc4;
        margin: 0;
      }
      img {
        width: 150px;
        height: 150px;
        border-radius: 200px;
        border: 3px solid $bgc4;
        object-fit: cover;
        transition: all 0.3s;
        filter: grayscale(80%);
        &:hover {
          cursor: zoom-in;
          filter: none;
        }
      }
    }
  }
}

#crew {
  animation: fade 0.5s;
}