@import "_variables";
@import "_mixins";
@import "_animations";

.room {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  background-color:$bgcBlackAlpha;
  transition: all 0.8s ease;
  @include laptop {
    border: transparent 1px solid;
    box-sizing: border-box;
    width: 315px;
    height: 278px;
    min-height: 0;
    &:hover {
      border: 1px solid $bgc4;
      border-radius: 10px;
    }
  }

  
  header {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h5 {
      padding: 0 10px;
      margin: 10px auto;
      font-size: 1.2rem;
      text-align: center;
      border-radius: 50px;
      color: $bgc4;

    }
    h3 {
      font-size: 2rem;
      text-align: center;
      margin: 0 auto;
      @include laptop {
        font-size: 1.6rem;
      }
    }
  }

  em {
    color: $text2;
  }

  h1 {
    font-size: 1.5rem;
  }
  p {
    width: 80%;
    font-size: 1.4rem;
  }
  .roomImage {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .hashtag {
    margin-top: 5px;
    padding: 1px 10px;
    border-radius: 50px;
    font-size: 1rem;
    background-color: $bgc2alpha;
    &:hover {
      cursor: default;
      .hashtagIcon {
        color: $text2;
      }
    }
    .hashtagIcon {
      transition: all 0.3s;
    }
  }
  
  .sections {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
  }
  section {
    width:37%;
    min-width: 300px;
    padding: 0 7px;
    background-color: $bgc1;
    border-radius: 10px;
    transition: all 0.3s;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    @include laptop {
      min-width: 275px;
    }
    h4 {
      width: 100%;
      margin: 5px auto;
      font-size: 1.4rem;
      text-align: center;
      font-weight: unset;
    }
    .list {
      padding: 0;
      li {
        font-size: 1.2rem;
        list-style: none;
        b {
          color: $text2;
        }
      }
    }
    .techno {
      width: 25%;
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $text2;
      font-size: 1.3rem;
      transition: all 0.5s;
      &:hover {
        cursor: default;
        transform: scale(1.1);
        .icon {
          color: $bgc4;
        }
      }
      
      .icon {
        font-size: 2rem;
        color: $text1;
        transition: all 0.5s;
      }
    }  
  }
  .work {
    padding-bottom: 10px;
    img {
      width: 98%;
    }
  }
  
}
.spaceship {
  display: none;
  padding: 0;
  position: relative;
  animation: fade 2s;
  grid-area: spaceship;
  h2 {
    margin: 5px 0;
    position: absolute;
    bottom: 0;
    font-family: $font4;
    font-size: 3rem;
    b {
      color: $bgc4;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
  }
  @include laptop {
    display: block;
    h2 {
      left: 0;
      font-size: 2rem;
      text-align: center;
    }
  }

}

.crew {
  grid-area: crew;
  h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  @include laptop {
    &:hover {
      min-height: 700px;
    }
  }
}
.communication {
  grid-area: communication;
  @include laptop {
    &:hover {
      min-height: 390px;
    }
  }
}
.bridge {
  grid-area: bridge;
  @include laptop {
    &:hover {
      min-height: 750px;
    }
  }
}
.engine {
  grid-area: engine;
  @include laptop {
    &:hover {
      min-height: 550px;
    }
  }
}
.hold {
  grid-area: hold;
  @include laptop {
    &:hover {
      min-height: 600px;
    }
  }
}
.laboratory {
  grid-area: laboratory;
  @include laptop {
    &:hover {
      min-height: 400px;
    }
  }
}
.observatory {
  grid-area: observatory;
  @include laptop {
    &:hover {
      min-height: 360px;
    }
  }
}
.photography {
  grid-area: photography;
  @include laptop {
    &:hover {
      min-height: 360px;
    }
  }
}

