@import "variables";

.spaceship {
  position: relative;
  height: 100%;
  width: 400px;
  .background {
    width: 100%;
    object-fit: contain;
  }
  .selected {
    background-color: #fff;
  }
  .room {
    position: absolute;
    transition: all 0.3s;
    &:hover{
      cursor: pointer;
      transform: scale(0.30);
    }
  }
  .pont {
    transform: scale(0.24);
    top: -2px;
    left: 60px;
  }
} 