@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

$text1: #ffffff;
$bgc1 : #202020;
$bgc2 : #6e6e6e;
$bgc3: rgb(24, 24, 116);
$bgc2alpha : #6e6e6e7c;
$border1 : #444;

$font1 : 'Roboto Mono', monospace;
$font2: 'Cutive Mono', monospace;