@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

$text1: #ffffff;
$text2: #00ce22;
$bgc1 : #202020;
$bgc2 : #6e6e6e;
$bgc3: #8f0089;
$bgc4: rgb(0, 167, 189);
$bgc2alpha : #6e6e6e53;
$bgcAlphaPlus : #3030309a;
$bgcBlackAlpha: #00000070;
$border1 : #444;
$border2 : solid 1px #000000;
$box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

$font1 : 'Roboto Mono', monospace;
$font2: 'Cutive Mono', monospace;
$font3: 'Oswald', sans-serif;